body {
  background-color: #00fff9;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #ff71ce;
}

.aboutMe {
  margin: 10px;
}

.ownerName {
  margin: 10px;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

p {
  max-width: 70ch;
  padding: 10px;
}